<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/filter.js"></script>
  
  <title>Document</title>
</head>
<body>

  
  <form action="/search" method="get" id="search-item-form" class="search-item-form">

    <div class="search-item-form__field-wrapper">
      <label for="search-item-form__minimum-price">Minimum Price</label>
      <input type="number" name="minimum_price" placeholder="Minimum Price" id="search-item-form__minimum-price">
      <label for="search-item-form__maximum-price">Maximum Price</label>
      <input type="number" name="maximum_price" placeholder="Maximum Price" id="search-item-form__maximum-price">
    </div>

    <div class="search-item-form__field-wrapper">
        <button type="submit">Search</button>
        <a id="search-item-form__cancel" href="#">Cancel</a>
    </div>
  </form>
</body>
</html>

