<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://kit.fontawesome.com/77de315972.js" crossorigin="anonymous"></script>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="/scripts/featureListings.js"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">
      <div class="navbar-brand col">
        <a class="navbar-brand col" href="/"><img src="Buy-Sell-Listing-Website/public/images/logo.png" class="img-rounded"></a>
      </div>

      <div class="nav-item nav-link col" id="links">

        <a href=""> Search </a>
        <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Top Wear</a></li>
            <li><a href="#">Bottom Wear</a></li>
          </ul>
        </div>
        <a href=""> MyListings</a>

      </div>
      <div class="col" id="avatar">
        <a href=""> AVATAR</a>
      </div>

    </nav>
  </header>

  <main>
    <div class='container-fluid'>
      <div class='row'>
        <div class="col-xs-6 col-md-6 col-lg-3 wrapper" >
          <nav id='sidebar'>
          <div class="input-group">
            <div class="form-outline">
              <input type="search" id="form1" class="form-control" />
            </div>
            <button type="button" class="btn btn-primary">
            Search
          </button>
        </div>
        <hr style="width:100%;text-align:left;margin-left:0">
        <div>
          Category
        </div>
        <div>
          Max Price
        </div>
        <div>
          Min Price
        </div>
        <div>
          <button class="btn btn-primary" type="submit" id="filter">FILTER</button>
        </div>
      </nav>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-9 thumb" id='gallery'>
      </div>
      </div>

    </div>

  </div>



</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
