<!DOCTYPE html>
<html lang="en">

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/userFavourites.css" type="text/css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type="text/javascript" src="/scripts/favouriteListings.js"></script>
  <script src="https://kit.fontawesome.com/77de315972.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav id="favourite-nav" class="navbar navbar-expand-md navbar-dark bg-light fixed-top">
      <div class="navbar-brand col" style="
      padding-left: 0px;">
        <a class="logo-image" href="/">
          <img src="images/logo.png" class="img-rounded" />
        </a>
      </div>

      <div class="nav-item nav-link col" id="links">
        <a href="/"> Search </a>
        <a href="/userListings"> MyListings</a>
        <p>Welcome!  <a class="profile-usertitle-name"> </a></p>
      </div>
    </nav>
  </header>

  <main>

    <div class='container-fluid'>
      <div class='row'>

          <nav class="col-xs-6 col-md-6 col-lg-3 col-xs-6 col-md-6 col-lg-3" id='sidebar'>
            <div class="profile-sidebar">
              <!-- SIDEBAR USERPIC -->
              <div class="userpic">
                <img id="userAvatar" class="img-rounded imp-responsive  img-fluid img-thumbnail " style="max-width: 150px; max-height: 150px;"alt="">
              </div>
              <!-- END SIDEBAR USERPIC -->
              <!-- SIDEBAR USER TITLE -->
              <div class="profile-usertitle">
                <p class="profile-usertitle-name">

                </p>
              </div>



              <!-- END SIDEBAR USER TITLE -->
              <!-- SIDEBAR BUTTONS -->
              <div class="profile-userbuttons" >

                <button class="btn btn-primary">
                  <a id="email" style="color: white;">Message me!</a>
                </button>
              </div>

          </nav>

        <div class="col-xs-6 col-md-6 col-lg-9 thumb" id='gallery'>


        </div>
      </div>
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>
