// See: https://sass-lang.com/

body {
  background-color: rgb(231, 226, 226);

  nav {
    height: 100px;
    padding: 5px;
    box-shadow: 5px 4px 5px #000;

    #avatar {
      display: flex;
      justify-content: flex-end;
    }

    .img-rounded{
      width: 225px;
      height: 100px;
      /* border-radius: 50%; */
      overflow: hidden;
      /* margin-top: -6px; */
    }

    #links {
      display: flex;
      justify-content: space-between;
    }
  }
  input {
    width: 195px;
    padding: .375rem .75rem;
    border-width: 1px;
    border-color:white;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .container-fluid {
    height: 100%;
  }

  .fix-top {

  }
  .input-group {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }
  main {
    display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  padding-top: 100px;
  }

  #gallery {
     display: flex;
     flex-flow: row wrap;
     padding: 30px

    }
    .card {
     height: 600px;
     div {
      size: 2.5rem;
     }
    }

  #sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.2em;
    min-height: 90vh;
    background-color:rgb(251, 237, 237);

    div {

      padding: 5px;
    }
  }



  h1 {
    color: #244751;
  }

  .row {
    padding-top: 5%;
  }
}

#filter {
  display: flex;
  justify-content: flex-end;
}

#listing-image {
  min-height: 50%;
  max-height: 50%;
}

#logo-image {
  max-width: 7rem;
  max-height: 7rem;
}


