body {
  background-color: rgb(231, 226, 226);

  nav {
    height: 150px;
    padding: 5px;
    box-shadow: 5px 4px 5px #000;

    #avatar {
      display: flex;
      justify-content: flex-end;
    }

    .img-rounded{
      width: 225px;
      height: 100px;
      /* border-radius: 50%; */
      overflow: hidden;
      /* margin-top: -6px; */
    }

    #links {
      display: flex;
      justify-content: space-between;
    }
  }

  .container-fluid {
    height: 100%;
    padding-top: 8vh
  }

  main {
    display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  padding-top: 100px;
  }

  #gallery {
     display: flex;
     flex-flow: row wrap;
     padding: 30px
  }

  #sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.2em;
    min-height: 90vh;
    background-color:rgb(251, 237, 237);

    div {

      padding: 5px;
    }
  }

  .row div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  h1 {
    color: #244751;
  }
}

#filter {
  display: flex;
  justify-content: flex-end;
}

#listing-image {
  min-height: 50%;
  max-height: 50%;
}

#logo-image {
  max-width: 7rem;
  max-height: 7rem;
}


